{% extends 'base.html' %}
{% block title %}RK{% endblock title %}
{% load static %}
{% block hero %}   

    <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
        <div class="hero-container" data-aos="fade-in">
            <!-- Visitor Count Section -->
            <div class="visitor-count">
                <p id="visitor-count">Visitor Count: 0</p>
            </div>
            
            <h1>I'm Ravindra Kumar</h1>
            <p><span class="typed" data-typed-items="Designer, Developer, Programmer"></span></p>
            
          
        </div>
    </section>
{% endblock hero %}
